<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Real Estate Management System</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"></th:block>
   </head>
   <body style="background-image:url('https://media.architecturaldigest.com/photos/561c378e6a66205851350f82/16:9/w_1600,c_limit/white-houses-01.jpg?mbid=social_retweet');">
      
      <th:block th:include="/_menu"></th:block>
      
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>